<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xl.user.mapper.UserMapper">

	<resultMap id="user" type="com.xl.user.entity.User">
		<id property="id" column="id" />
		<result property="email" column="email" />
		<result property="username" column="username" />
		<result property="password" column="password" />
	</resultMap>

	<!-- <insert id="insert" parameterType="com.xl.user.entity.User">
		INSERT INTO public.user (id, username, email, password) VALUES (#{id},
		#{username}, #{email}, #{password});
	</insert> -->

	<!-- <select id="getPassordByUsername" parameterType="string" resultType="string">
		SELECT password FROM public.user WHERE username = #{username}
	</select> -->

</mapper>