<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xl.platform.moment.content.mapper">

	<resultMap id="user" type="com.xl.platform.moment.content.entity.Content">
		<id property="id" column="id" />
		<result property="moments_id" column="moments_id" />
		<result property="content_data" column="content_data" />
		<result property="cdate" column="cdate" />
		<result property="mdate" column="mdate" />
	</resultMap>


</mapper>