<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xl.platform.moment.mapper">

	<resultMap id="user" type="com.xl.platform.moment.entity.Comments">
		<id property="id" column="id" />
		<result property="user_id" column="user_id" />
		<result property="audio" column="audio" />
		<result property="content" column="content" />
		<result property="image" column="image" />
		<result property="video" column="video" />
		<result property="cdate" column="cdate" />
		<result property="mdate" column="mdate" />
	</resultMap>

	<insert id="insert" parameterType="com.xl.platform.moment.entity.Comments">
		INSERT INTO public.user (id, user_id, content) VALUES (#{id},
		(select id from public.moments where username = #{user_id}), #{content});
	</insert>

</mapper>